{% extends 'cbase.html' %}
{% load static %}
{% block main  %}

<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-table"></i> Change Password</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/cdashboard">Home</a></li>
                <li><i class="fa fa-th-list"></i>Change Password</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Change Password
                </header>

                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal" method="POST">
                            {% csrf_token %}

                            <div class="form-group ">
                                <label class="control-label col-lg-2">Current Password <span
                                        class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input type="password" name="opwd" placeholder="Current Password"
                                           class="form-control" required/>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="control-label col-lg-2">New Password <span
                                        class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input type="password" name="pwd" placeholder="New Password"
                                           class="form-control" required/>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="control-label col-lg-2">Repeat Password <span
                                        class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input type="password" name="pwd" placeholder="Repeat Password"
                                           class="form-control" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                        {% if messages %}
                        <div class="alert text-danger font-weight-bold text-center">
                            {% for message in messages %}
                            <script> alert('{{ message }}')</script>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}