{% extends 'base.html' %}
{% block main  %}

<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-files-o"></i> Account Withdraw</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/dashboard">Home</a></li>
                <li><i class="fa fa-files-o"></i>Account Withdraw</li>
            </ol>
        </div>
    </div>

    <!-- Form validations -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Account Withdraw
                </header>


                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal">
                            <div class="form-group ">
                                <label class="control-label col-lg-2">Enter Account no<span
                                        class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input type="search" name="accno" value="{{accno}}" class="form-control"
                                           placeholder="Account no">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </form>

                        {% if search %}
                        <div class="card shadow mt-3">
                            <div class="card-body">
                                {%if found %}
                                <h5 class="p-2 text-left" style="border-bottom: 2px solid orange;">Account Details</h5>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="{{acc.customer.pic.url}}" style="width:150px;">
                                    </div>
                                    <div class="col-sm-8">
                                        <table class="table table-bordered table-sm">
                                            <tr>
                                                <th>Account No</th>
                                                <th>{{acc.accno}}</th>
                                                <th>Customer Name</th>
                                                <th>{{acc.customer.cname}}</th>
                                            </tr>
                                            <tr>
                                                <th>Customer Gender</th>
                                                <th>{{acc.customer.gender}}</th>
                                                <th>Customer Address</th>
                                                <th>{{acc.customer.address}}</th>
                                            </tr>
                                            <tr>
                                                <th>Account Type</th>
                                                <th>{{acc.actype}}</th>
                                                <th>Available Balance</th>
                                                <th>&#8377; {{acc.bal}}</th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                {% if messages %}
                                <div class="alert text-danger font-weight-bold text-center">
                                    {% for message in messages %}
                                    <script> alert('{{ message }}')</script>
                                    {% endfor %}
                                </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col-sm-9 mt-3">
                                        <div class="panel-body">
                                            <div class="form">
                                                <form method="post" class="form-validate form-horizontal">
                                                    {% csrf_token %}

                                                    <input type="hidden" name="accno" value="{{accno}}">

                                                    <div class="form-group ">
                                                        <label class="control-label col-lg-2">Withdraw Amount<span
                                                                class="required">*</span></label>
                                                        <div class="col-lg-10">
                                                            <input type="number" name="dramt" class="form-control"
                                                                   max="{{acc.bal}}" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-lg-offset-2 col-lg-10">
                                                            <button class="btn btn-primary" type="submit">Withdraw
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        {% else %}
                                        <h5 class="text-danger">Invalid Account number</h5>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</section>

{% endblock %}